# Ignore CSV files
.CSV
.csv

# Ignore Files directory
Files

#Ignore Node Modules
node_modules

#Ignore evnironment variables
.env

#Ignore Mac System Files
.DS_store

#Ignore Python Cached Files
__pycache__